body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
    }
    
    ul, ol {
        
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
            margin: 0;
    }
    
    ul,
    ol {
            padding-left: 0;
            margin: 0;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container-head {
    width: 320px;
    margin: 0 auto;
    padding: 0 16px;
   
    
}

@media screen and (min-width: 768px) {
    .container-head {
        width: 768px;   
    }
}

@media screen and (min-width: 1158px) {
    .container-head {
        width: 1158px;  
        padding: 0 15px;
        
    }
}

.header {
    letter-spacing: 0.02em;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);

}

.container-head {
    display: flex;
    align-items: center;
}
.menu-item,
.address-menu {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    margin-right: 76px;
    display: inline-block;
}
.header-logo .logo-part {
    color: #2e2f42;
    letter-spacing: 0.03em;
}
.bur-btn {
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
}
.bur-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .bur-btn {
        display: none;
    }
    .menu-item {
    display: flex;
    align-items: center;
    gap: 40px;
}
.address-menu {
    font-style: normal;
    display: block;
    margin: auto;
}
.nav-item {
    display: flex;
    align-items: center;
}
.contacts-link:focus {
    color: #404bbf;
}
.contacts-link:hover {
    color: #404bbf;
}
.link-header:hover {
    color: #404bbf;
}
.link-header:focus {
    color: #404bbf;
}
.link-header.current::after {
content: '';
width: 100%;
position: absolute;
left: 0;
bottom: -1px;
height: 4px;
background-color: #404bbf;
border-radius: 2px;
}

.ul-header {
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.4em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    color: #434455;
}
}


@media screen and (min-width: 1158px) {
    .contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.4em;
        display: block;
        padding: 24px 0;
    flex-direction: row;
    }
    .ul-header {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
}

.section-menu-first {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile-bg.png);
         
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
    background-size: cover;
}
.title-main {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    color: #fff;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    
}



.button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #4D5AE5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 16px 32px;
}


@media screen and (min-width: 1158px) { 
    .section-menu-first {
        background-color: #2e2f42;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
             
        background-repeat: no-repeat;
        background-position: center;
        max-width: 1440px;
        margin: 0 auto;
        background-size: cover;
    }
    .title-main {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.1;
        color: #fff;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        
    }
    
    
    
    .button{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
        background-color: #4D5AE5;
        letter-spacing: 0.04em;
        cursor: pointer;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
        background-size: cover;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}


@media screen and (min-width: 768px) {
    .section-menu-first {
        background-color: #2e2f42;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/planshet-bg.png);
             
        background-repeat: no-repeat;
        background-position: center;
        max-width: 1440px;
        margin: 0 auto;
        background-size: cover;
    }
    .title-main {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.1;
        color: #fff;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        
    }
    .button{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
        background-color: #4D5AE5;
        letter-spacing: 0.04em;
        cursor: pointer;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
        background-size: cover;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
}

.section-menu {
    padding: 96px 0;
}
.ul-second {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.icons-strategy {
    display: none;
}
  .container {
    padding-left: 16px;
        padding-right: 16px;
       margin: auto;
       max-width: 320px;
  }
.element {
    flex-wrap: wrap;
    width: 100%;
    color: #2e2f42;
}

.title-style {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}


.text-style {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

@media screen and (min-width: 768px) {
    .section-menu{
        padding-top: 96px;
        padding-bottom: 96px;
    }
.icons-strategy {
    display: none;
}
.section-menu{
    padding-top: 96px;
    padding-bottom: 96px;
}
.container {
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
    max-width: 768px;
}
.element {
    width: calc((100%-24px)/2);
    color: #2e2f42;
   
}
.ul-second {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    flex-direction: row;
   
}
.title-style {
    margin-bottom: 8px;
    text-align: left;
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.text-style {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
}

@media screen and (min-width: 1158px) {
    .section-menu {
        padding-top: 120px;
        padding-bottom: 120px;
}
.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
   
    
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.ul-second {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    flex-direction: row;
}


.element {
    
    width: calc((100% - 72px) / 4);
}


.soc-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    
}

.icons-strategy {
    margin-bottom: 24px;
    margin-top: 24px;
    margin-left: 100px;
    margin-right: 100px;
    display: block;
}

.title-style {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: #2e2f42;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
    .text-style {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .element-ex {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}